<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
    
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    
    <link href="css/main.css" rel="stylesheet">
    <script src="scripts/app.js"></script>
</head>
<body ng-app = "theGame">
<div class="container">
    <div class="row">
        <div class="col-md-12"><img src="images/logo.png" alt = "logo"> </div>
    </div>
    <div class="row">
        <list-of-players></list-of-players>
    </div>

    <hr />

    <div class="row" ng-controller="backendController as myCtrl">
        <button class="btn btn-primary btn-lg btn-success" 
                tooltip-placement="top" uib-tooltip="Otwórz DevTools -> zakładka 'Network' :)" 
                ng-click="myCtrl.getPlayers()">
            Clik me! xD
        </button>
        <div uib-alert ng-repeat="player in myCtrl.players" class="alert-success">
            {{player | json}}
        </div>
    </div>
</div>

</body>