<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
    
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    
    <link href="css/main.css" rel="stylesheet">
    <script src="scripts/app.js"></script>
</head>
<body ng-app = "theGame">
<div class="container">
    <div class="row">
        <div class="col-md-12"><img src="images/logo.png" alt = "logo"> </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="" method="post">
                 name: <input type="text" name="name" class="formElement">
                 type: <select size="1" name="playerType" class="formElement">
                        <option value="HeavyDude">Heavy Dude</option>
                        <option value="FastDude">Fast Dude</option>
                     </select>
                <input type="submit" value="Add" class="formElement">
            </form>
        </div>
        <div class="col-md-4" ng-controller = "firstController as ctrl">
            Zmienna z kontrolera to: {{ctrl.someVar}}
        </div>
    </div>
    <hr />
    
    <div class="row" ng-controller="backendController as myCtrl">
        <button class="btn btn-primary btn-lg btn-success" 
                tooltip-placement="top" uib-tooltip="Otwórz DevTools -> zakładka 'Network' :)" 
                ng-click="myCtrl.getPlayers()">
            Clikk me! xD
        </button>
        <div uib-alert ng-repeat="player in myCtrl.players" class="alert-success">
            {{player | json}}
        </div>
    </div>
</div>

</body>